@font-face { font-family: 'Quattrocento Sans'; src: url("../assets/fonts/quattrocentosans-bold-webfont.eot"); src: url("../assets/fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/quattrocentosans-bold-webfont.woff") format("woff"), url("../assets/fonts/quattrocentosans-bold-webfont.ttf") format("truetype"), url("../assets/fonts/quattrocentosans-bold-webfont.svg#QuattrocentoSansBold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Quattrocento Sans'; src: url("../assets/fonts/quattrocentosans-bolditalic-webfont.eot"); src: url("../assets/fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("../assets/fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("../assets/fonts/quattrocentosans-bolditalic-webfont.svg#QuattrocentoSansBoldItalic") format("svg"); font-weight: bold; font-style: italic; }
@font-face { font-family: 'Quattrocento Sans'; src: url("../assets/fonts/quattrocentosans-italic-webfont.eot"); src: url("../assets/fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/quattrocentosans-italic-webfont.woff") format("woff"), url("../assets/fonts/quattrocentosans-italic-webfont.ttf") format("truetype"), url("../assets/fonts/quattrocentosans-italic-webfont.svg#QuattrocentoSansItalic") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Quattrocento Sans'; src: url("../assets/fonts/quattrocentosans-regular-webfont.eot"); src: url("../assets/fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("../assets/fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("../assets/fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Copse'; src: url("../assets/fonts/copse-regular-webfont.eot"); src: url("../assets/fonts/copse-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/copse-regular-webfont.woff") format("woff"), url("../assets/fonts/copse-regular-webfont.ttf") format("truetype"), url("../assets/fonts/copse-regular-webfont.svg#CopseRegular") format("svg"); font-weight: normal; font-style: normal; }

body {
    margin: 0px;
}

h1 {
    margin: 0;
    padding: 0;
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Copse, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-heading {
    background-color: #ffcc00;
    border: 1px solid #f0b500;
    padding: 1em 1em 0.5em 0.5em;
    margin: 0px;
}

input[type='checkbox'] {
    vertical-align: middle;
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}

::selection {
    background: #fff1bb; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #fff1bb; /* Gecko Browsers */
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}